html,head,body { padding:0; margin:0; }
body {
  font-family: calibri, helvetica, arial, sans-serif;
  background: rgb(38,38,38);
}
a {
  text-decoration: none;
}
#mainDiv {
  max-width: 510px;
  padding: 2em;
  background : #FFDE00;
  margin: 0 auto;
  position: relative;
}

.newGame {
  float: right;
  color: white;
  background: rgb(38,38,38);
  padding: 7px;
  margin-top: -10px;
}

.upperView {
  max-width : 580px;
  min-height: 70px;
  margin: 0;
}

span.gameSize a{
  color: white;
  background: rgb(38,38,38);
  padding: 7px;
}

ul {
  padding: 2px;
  overflow: auto;
  background: #262626;
  max-width: 502px;
}

li {
   list-style:  none;
   float: left;
}

.randomColorStyle  {
   color: #fff;
   background-color: #262626;
   padding: 7px;
   margin-right: 15px;
}

.colorStyle {
  line-height:  50px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  width: 50px;
  color: #000;
  height: 50px;
  display: block;
  transform: scale(0.85);
  transition: 0.4s;
}